@import '../../common/style/mixins';

.control-panel {
  flex: 1;
  text-align: center;
  background-color: #ffed8b;
  .show-result-btn-wrapper {
    margin-top: 144px;
    height: 50px;
  }
  button {
    .button();
    background-color: blue;
    margin-bottom: 35px;
    &.show-result-btn {
      background-color: #ff6579;
    }
  }
}