h1, h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  outline: none;
}

.game-main {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  display: flex;
  h2 {
    text-align: left;
    padding-left: 20px;
    height: 80px;
    line-height: 50px;
  }
}