@import '../../../common/style/mixins';

.guess-card {
  background-color: #c298ff;
  .guess-form {
    height: 140px;
  }
  input {
    width: 140px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
  }
  button {
    .button();
    background-color: greenyellow;
  }
}